<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        header{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1200px;
        }
        .color_box{
            display: inline-block;
            height: 400px;
            width: 400px;
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>
    {% for i in range(0, num_times): %}
        <div class="color_box" style="background-color: {{ color }};"></div>
    {% endfor %}
</body>
</html>